doctype html
html
  head
    link(rel="stylesheet" media="screen and (max-width: 2000px)" href="static/response.css")
    title  Supriyo NGO Website
    style
      include ../static/book.css
  body
    div.cont
      div.edit
        h1 REGISTER YOURSELF
        div.edittt
            P Marpu Foundation is a youth-run non-governmental organization (NGO) backed by presidential awardees of India and United Nation affiliated awardees working towards making the youth become global citizens. Our mission is for young minds to target diverse issues in the furtherance of sustainability and for the amelioration of impacting youth activities.
            li #[a(href="https://bit.ly/3hnl7L6" target = "_blank")  CLICK THE LINK]
            li #[a(href="/") BACK TO HOME]