doctype html
html
  head
    link(rel="stylesheet" media="screen and (max-width: 1750px)" href="static/response.css")
    title  Supriyo NGO Website
    style
      include ../static/call.css
  body
    div.contc
     div.edittc
      h2 CALL US
      div.editpc
        p Phone Number 
        p Mob1- +91 6301 173 148
        p Mob2- +91 6301 173 148
        li #[a(href="/") BACK TO HOME]