doctype html
html
  head
    link(rel="stylesheet" media="screen and (max-width: 1750px)" href="static/response.css")
    title  Marpu Foundation
    style
      include ../static/home.css
  body
    nav#navbar
        ul
         div.navedit
            div#logo
                img(src="/static/img/marpu.png")
                |NGO 
            div.navbaredit
              h1  MARPU FUNDRAISING INTERNSHIP
    section#container
      div.boxx
       h1  WE MAKE A LIVING BY WHAT WE GET,BUT WE MAKE A LIFE BY WHAT WE GIVE.
            div.card
                h3 MAPRU NGO
                div.cardbox
                        img(src="/static/img/marpu.png")
       div.form
        h3 Register Yourself to be the part of Marpu Fundraising Foundation
         ul
          li
           a(href='/book') REGISTER YOURSELF
          li
           a(href='/call') CONTACT DETAILS



           
    section#missionsection
        h1 PERKS
         div.cardb
            div.cardbb
                h3 OVERALL DEVELOPMENT
                div.cardbb-box
                    div.cardbb-img
                        img(src="/static/img/marpu.png")
                    div.cardbb-content
                        p IT SHARPENS PROFESSIONAL SKILLS,IT HELPS IN PERSONAL GROWTH,IT GIVES SCOPE FOR IMPLEMENTATION,IT TEACHES HUMILITY,ETC
            div.cardbb
                h3 CERTIFICATES AND AMAZING GIFT
                div.cardbb-box
                    div.cardbb-img
                        img(src="/static/img/marpu.png")
                    div.cardbb-content
                        p CERTIFICATE FROM NGO|GOODIES|LOR ON REQUEST, ETC
    //- footer#foot
    //-     div.navbareditt
    //-       P Important links:-
    //-       li #[a(href="/") Home]
    //-       li #[a(href="/about") About]
    //-       li #[a(href="/contact") Contact us]
    //-       div#logo
    //-           img(src="/static/img/d.png")
    footer
      div.column
        h3 Important links
        ul
          li
            a(href='/book') Registration
          li
            a(href='/call') Contact Details
        div#logoo
              img(src="/static/img/marpu.png")
        
